.26_2 { 
	overflow:hidden;
}.e26_2 { 
	background-color:rgba(217.8125050663948, 213.0932343006134, 208.73698085546494, 1);
	width:1440px;
	height:1976px;
	position:absolute;
}.e26_10 { 
	width:401px;
	height:17px;
	position:absolute;
	left:707px;
	top:612px;
}.e29_2 { 
	width:484px;
	height:482px;
	position:absolute;
	left:157px;
	top:482px;
	background-image:url(images/578076dda37842daa3dbe9379322a057_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_176 { 
	width:484px;
	height:1021px;
	position:absolute;
	left:770px;
	top:482px;
	background-image:url(images/639ea3829a1e6ef6f16f031a4393ff99_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e31_177 { 
	width:484px;
	height:482px;
	position:absolute;
	left:157px;
	top:1021px;
	background-image:url(images/9738b947fd3bf486d5dc0dac04130f88_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_2687 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:284px;
	height:284px;
	position:absolute;
	left:42px;
	top:119px;
}.e40_2688 { 
	background-color:rgba(255, 255, 255, 1);
	width:1376px;
	height:87px;
	position:absolute;
	left:64px;
	top:218px;
}.e40_2689 { 
	border-radius:500px;
	background-color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:63px;
	top:140px;
}.e40_2690 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:225px;
	height:225px;
	position:absolute;
	left:72px;
	top:149px;
}.e40_2691 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2692 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2693 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:117px;
	height:49px;
	position:absolute;
	left:738px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2694 { 
	color:rgba(182.00000435113907, 163.00000548362732, 148.000006377697, 1);
	width:277px;
	height:121px;
	position:absolute;
	left:340px;
	top:203px;
	font-family:Sen;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}.e40_2695 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:154px;
	height:49px;
	position:absolute;
	left:941px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_2696 { 
	color:rgba(218.00000220537186, 213.00000250339508, 209.00000274181366, 1);
	width:164px;
	height:49px;
	position:absolute;
	left:1159px;
	top:237px;
	font-family:Sen;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}